<font color = 'red'>
<h1> Trabalho de Introdução a Projetos de Engenharia [Python] </h1> 
</font>

<h2> Persistência de Dados usando SQLite </h2>

<p>
<b>Objetivo Principal do Trabalho:</b> aprender a realizar um CRUD (cadastro, leitura, atualização e remoção) de dados em um Banco de Dados com a Linguagem Python.
</p>

<p>
    <b>Objetivo Secundário do Trabalho:</b> aprender a manipular funções na Linguagem Python.    
</p>

<b>Problema a ser resolvido:</b>
<ol>
    <li>Criar um banco de dados chamado <b>banco_dados.db</b>.</li>
    <li>Criar uma função, denominada <b>criar_tabela()</b> para realizar a criação de uma tabela de nome <b>produto</b>. A tabela deverá ter os campos com os respectivos tipos apresentados abaixo.</li>
    <img src = "img_tabela.png" width = 500px height = 500px/>
    <li>Criar as funções: 
        <ul>
            <li><b>inserir_dados()</b> : deverá inserir novos dados na tabela. Ou seja cadastrar novos produtos.</li>
            <li><b>listar_dados()</b> : deverá listar todos os produtos cadastrados na tabela.</li>
            <li><b>atualizar_dados()</b> : todos os produtos que tiverem valor igual a 98.00 deverão ser alterados para 140.00.</li>
            <li><b>remover_dados()</b> : deverá excluir da tabela todos os produtos que tiverem valor igual a 62.00.</li>
        </ul>    
    </li>
</ol>

<b> Para testar as funções você deverá </b>
<ol>
    <li>Executar a função <b>criar_tabela()</b>.</li>
    <li>Executar a função <b>inserir_dados()</b>. Os dados que deverão ser inseridos na tabela são apresentados na imagem abaixo.</li>
    <img src = "img_inserir.png" width = 400px height = 400px/>
    <li>Executar a função <b>listar_dados()</b>.</li>
    <li>Executar a função <b>atualizar_dados()</b>.</li>
    <li>Executar a função <b>listar_dados()</b>.</li>
    <li>Executar a função <b>remover_dados()</b>.</li>
    <li>Executar a função <b>listar_dados()</b>.</li>
</ol>

In [ ]:
# Importação do Banco de Dados SQLite

import sqlite3 as lite

# Criação de uma conexão
conexao = lite.connect('banco_dados.db')

# Criação de um cursor
cursor = conexao.cursor()


# Função para criar uma tabela
def criar_tabela():
    cursor.execute("CREATE TABLE produto(id INTEGER PRIMARY KEY AUTOINCREMENT, data TEXT, nome TEXT, valor REAL)")

# A tabela deverá ter nome "produto" e os seus campos deverão ser:
  # id --> do tipo inteiro, chave primária e auto incrementada.
  # data --> do tipo texto
  # nome --> do tipo texto
  # valor --> do tipo real

# Função para inserir dados na tabela
def inserir_dados():
    cursor.execute("INSERT INTO produto (data,nome,valor) VALUES ('02-04-2020','Teclado',62.0)")
    cursor.execute("INSERT INTO produto (data,nome,valor) VALUES ('03-04-2020','Monitor',98.0)")
    cursor.execute("INSERT INTO produto (data,nome,valor) VALUES ('04-04-2020','Mouse',30.0)")
    cursor.execute("INSERT INTO produto (data,nome,valor) VALUES ('05-04-2020','Memoria',162.0)")
    cursor.execute("INSERT INTO produto (data,nome,valor) VALUES ('06-04-2020','Caixa de Som',98.0)")
    conexao.commit()
    print("dados inseridos com sucesso!")

# Função para listar todos os dados da tabela
def listar_dados():
    cursor.execute("select * from produto")

    for linha in cursor.fetchall():
        print(linha)

# Função para atualizar os dados. 
# Esta função deverá alterar o campo 'valor' dos produtos que tiverem valor = 98 para valor = 140.

def atualizar_dados():
    cursor.execute("UPDATE produto set valor = 140.00 where valor = 98.00")
    conexao.commit()
    print("dados atualizados com sucesso!")


# Função para deletar dados. 
# Esta função deverá apagar somente os dados registrados cuja o valor do produto é igual a 62.0

def remover_dados():
    cursor.execute("DELETE FROM produto where valor = 62")
    conexao.commit()
    print("dados deletados com sucesso!")

In [ ]:
# Execute a função para criar a tabela no banco de dados.
criar_tabela()

In [ ]:
# Execute a função para inserir dados na tabela.
inserir_dados()

In [ ]:
# Execute a função para listar todos os dados cadastrados na tabela produto
listar_dados()

In [ ]:
# Execute a função para atualizar os dados cadastrados na tabela produto
atualizar_dados()

In [ ]:
# Execute a função para listar todos os dados cadastrados na tabela produto
listar_dados()

In [ ]:
# Execute a função para remover os dados da tabela
remover_dados()

In [ ]:
# Execute a função para listar todos os dados cadastrados na tabela produto
listar_dados()